{% extends 'base.html' %}
{% load static %}
{% block title %}Panel Admin{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/usuarios/admin_dash.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="dashboard-admin bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 p-6 rounded-lg shadow-md">
    <h2>👨🏻‍💻 {{ user.first_name }}, este es tu panel de Administrador</h2>
    <p>Gestiona usuarios, sedes, inventario y más</p>

    <div class="acciones-admin grid grid-cols-2 gap-4 mt-4">
        <a href="{% url 'listar_usuarios' %}" class="btn-admin usuarios">👥 Usuarios</a>
        <a href="{% url 'lista_productos' %}" class="btn-admin inventario">📦 Inventario</a>
        <a href="{% url 'crear_producto' %}" class="btn-admin productos">📁 Productos</a>
        <a href="{% url 'listar_sedes' %}" class="btn-admin sedes">🏢 Sedes</a>
        <a href="{% url 'ver_mesas' %}" class="btn-admin mesas">🪑 Mesas</a>
        <a href="{% url 'ver_pedidos' %}" class="btn-admin pedidos">📋 Pedidos</a>
        <a href="{% url 'pedidos_por_pagar' %}" class="btn-admin pendiente">💰 Pedidos por Pagar</a>
        <a href="#" class="btn-admin reportes">📊 Informes</a>        
        <a href="{% url 'panel_general' %}" class="btn-admin general">📈 Panel General</a>
    </div>    
</div>
{% endblock %}
