{% extends 'base.html' %}
{% block title %}Mesero{% endblock %}
{% block content %}
<h2 class="text-2xl font-bold mb-4">🤵 Panel del Mesero</h2>
<a href="{% url 'tomar_pedido' %}" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">➕ Tomar Pedido</a>
<a href="{% url 'ver_pedidos' %}" class="text-blue-600 hover:underline ml-4">👁️ Ver Pedidos</a>
<a href="{% url 'dashboard_general' %}" class="block text-white bg-purple-600 hover:bg-purple-700 p-2 rounded shadow text-center mt-4">📊 Ver Panel General</a>
{% endblock %}
