{% extends 'base.html' %}
{% load static %}
{% block title %}Panel Admin{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/admin_dash.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="dashboard-admin bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 p-6 rounded-lg shadow-md">
    <h2>👨🏻‍💻 {{ user.first_name }}, este es tu panel de Administrador</h2>
    <p>Gestiona usuarios, sedes, inventario y más</p>

    <div class="acciones-admin grid gap-4 mt-4">
        <a href="{% url 'crear_usuario' %}" class="btn-admin usuarios">➕ Crear usuario</a>
        <a href="{% url 'listar_usuarios' %}" class="btn-admin usuarios">👥 Ver usuarios</a>
        <a href="{% url 'lista_productos' %}" class="btn-admin inventario">📦 Gestionar inventario</a>
        <a href="{% url 'crear_producto' %}" class="btn-caja producto">📁 Gestión Productos</a>
        <a href="{% url 'crear_precio_producto' %}" class="btn-admin precios">💲 Registrar precio de producto</a>
        <a href="{% url 'crear_sede' %}" class="btn-admin sedes">🏢 Crear nueva sede</a>
        <a href="{% url 'ver_pedidos' %}" class="btn-admin">📁 Ver pedidos</a>
        <a href="#" class="btn-admin">📊 Generar informes</a>
        <a href="{% url 'dashboard_general' %}" class="btn-admin general">📈 Ver Panel General</a>
    </div>
</div>
{% endblock %}
